
<style>
    #left {
        width:200px;
        top: 0;
        position: absolute;
        background-color: bisque;
        height: 350px;
    }
    #separat {
        width:11px;
        top: 0;
        left:200px;
        position: absolute;
        background-color: aqua;
        height: 500px;
    }
    #right {
        left:210px;
        right: 10px;
        top:20px;
        position: absolute;
        background-color: chartreuse;
        height: 300px;
    }

    #content {
        top: 420px;
        left:200px;
        position: absolute;
        background-color: rgb(222, 135, 196);
    }

    .bottom_container {
        position: absolute;
        top: 630px;
    }
    .sent1 {
        /* position: absolute; */
        text-indent: 2em;
    }
    .sent2 {
        text-indent: 4em;
        color: red;
    }

    .sent3 {
        background-color: yellow;
        margin: 30px auto;
        /* display: inline-block */
        width:fit-content;
    }

    .sent4 {
        color:maroon;
    }

    .sent5 {
        color:rgba(222, 112, 11, 0.8);
        width: fit-content;
        margin: 30px auto;
    }

    em {
        color: lime;
    }

</style>

<main>
    <div id="left"></div>
    <div id="separat"></div>
    <div id="right"></div>
</main>

<div id="content">
    main>#left+#separat+#right$
</div>

<div class="bottom_container">
    <div class="sent1">
         问祖宗之德泽，吾身所享者，是当念其积累之难；<em>问子孙之福祉，吾身所贻者，是要思其倾覆之易。</em>
    </div>
    <div class="sent1">
         家人有过不宜暴扬，不宜轻弃。此事难言，借他事而隐讽之。今日不悟，俟来日正警之。如春风之解冻、和气之消冰，才是家庭的型范。
    </div>
    <div class="sent2">
         此心常看得圆满，天下自无缺陷之世界；此心常放得宽平，天下自无险侧之人情。 淡薄之士，必为浓艳者所疑；检饬之人，多为放肆者所忌。君子处此固不可少变其操履，亦不可太露其锋芒。
    </div>
    <div class="sent3">
         居逆境中，周身皆针砭药石，砥节砺行而不觉；处顺境内，满前尽兵刃戈矛，销膏靡骨而不知。
    </div>
    <div class="sent1">
         生长富贵丛中的，嗜欲如猛火、权势似烈焰。若不带些清冷气味，其火焰不至焚人，必将自焚。
    </div>
    <div class="sent4">
         人心一真，便霜可飞、城可陨、金石可贯。若伪妄之人，形骸徒具，真宰已亡。对人则面目可憎，独居则形影自愧。
    </div>
    <div class="sent5">
         文章做到极处，无有他奇，只是恰好；人品做到极处，无有他异，只是本然。
    </div>
</div>
<!-- main>#left+#separate+#right -->